/* === DOM & MAIN CONTAINERS === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    --color-primary: #ff3737;
    --color-secondary: #aa42ff;
    --color-light-grey: #ececec;
    --color-text: #3a3a3a;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
}

main {
    margin-top: 70px;
}

.container {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    margin: 40px 0;
}

.greeting-section {
    margin-top: 100px;
}

.feed {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* === TYPOGRAPHY === */

h1 {
    font-size: 3rem;
    font-weight: 700;
    hyphens: auto;
    color: black;
    margin-bottom: 2.4rem;
    line-height: 3.8rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 3.4rem;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

p {
    font-size: 2rem;
    color: var(--color-text);
    margin-bottom: 2rem;
    line-height: 3.2rem;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
}

a:not(.a--no-decoration)::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background: currentColor;
    transition: width 0.2s ease;
}

a:not(.a--no-decoration):hover::after {
    width: 0;
}

.a--no-decoration {
    color: var(--color-text);
}

.primary {
    color: var(--color-primary);
}

.black {
    color: black;
}

/* === ICONS & ICON TEXT === */

.icon {
    height: 1em;
    display: block;
}

.icon--white {
    fill: white;
}

.icon-text {
    display: flex;
    align-items: center;
    transition: opacity 0.1s;
}

.icon-text:hover {
    opacity: 0.5;
}

.icon-text__text {
    line-height: 1.5rem;
    color: inherit;
    margin-left: 1rem;
}

.icon-text__icon {
    fill: currentColor;
}

.icon-text__text--multiline {
    line-height: 2.4rem;
}

/* === GENERAL === */

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
}

.section-heading--link {
    transition: opacity 0.1s;
}

.section-heading--link:hover {
    opacity: 0.5;
}

.section-label {
    margin: 0;
    margin-right: 1rem;
}

.carousel {
    overflow: auto hidden;
    white-space: nowrap;
}

.carousel__wrapper {
    margin-left: 20px;
}

.flex-column {
    width: 100%;
    margin-bottom: 3rem;
}

.separator {
    height: 2px;
    background: var(--color-light-grey);
}

.margin {
    width: 16px;
    height: 16px;
}

/* === NAVBAR === */

.navbar {
    height: 70px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}

.navbar__wrapper {
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.navbar__left,
.navbar__right {
    height: 100%;
    display: flex;
    align-items: center;
}

.hamburger-icon__line {
    width: 24px;
    height: 2px;
    position: relative;
    display: block;
    margin-bottom: 4px;
    z-index: 2;
    background: black;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0.175, 1),
        background 0.4s cubic-bezier(0.2, 0, 0.175, 1);
}

.hamburger-icon__line-1 {
    transform-origin: 0% 0%;
}

.hamburger-icon__line-2 {
    transform-origin: 3px 50%;
}

.hamburger-icon__line-3 {
    transform-origin: 0% 100%;
}

.navbar__logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-primary);
    transform: translateY(-0.3rem);
    margin-left: 20px;
    transition: letter-spacing 0.3s ease, opacity 0.3s;
}

.navbar__logo-overlay {
    position: absolute;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-primary);
    transform: translateY(-0.3rem) translateX(2.4rem);
    clip-path: inset(0 100% 0 0);
    margin-left: 20px;
    pointer-events: none;
    transition: letter-spacing 0.3s ease;
}

.navbar__logo:hover {
    letter-spacing: 0.2rem;
}

.navbar__logo:hover ~ .navbar__logo-overlay {
    letter-spacing: 0.2rem;
}

.navbar__link {
    margin-right: 3rem;
    display: none;
}

.navbar__text {
    display: none;
}

.navbar__search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar__search-icon {
    position: static;
    left: 10px;
}

.navbar__search-bar {
    height: 40px;
    width: 150px;
    background: var(--color-light-grey);
    border: none;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1.6rem;
    padding-left: 40px;
    padding-right: 20px;
    display: none;
    transition: all 0.2s ease;
}

.navbar__search-bar:focus {
    width: 300px;
}

/* === HAMBURGER MENU === */

.hamburger-icon {
    cursor: pointer;
}

.hamburger-icon__line.menu-open {
    background: var(--color-primary);
}

.hamburger-icon__line-1.menu-open {
    transform: translate(4px, -2.25px) rotate(45deg);
}

.hamburger-icon__line-2.menu-open {
    transform: scaleX(0);
}

.hamburger-icon__line-3.menu-open {
    transform: translate(4px, 2.25px) rotate(-45deg);
}

.menu {
    width: 100%;
    padding-top: 90px;
    position: absolute;
    background: white;
    z-index: 2;
    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.2, 0, 0.175, 1), box-shadow 0.1s;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.menu.menu--shadow {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
        0 3px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
        0 3px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.12);
}

.menu.menu-open {
    transform: translateY(-71px);
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
}

.menu__link {
    display: block;
    padding: 1.4rem 0;
}

.dim-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: opacity 0.4s cubic-bezier(0.2, 0, 0.175, 1);
    pointer-events: none;
}

.dim-overlay.menu-open {
    opacity: 0.6;
    pointer-events: initial;
}

/* === TEASER === */

.teaser {
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 5rem;
    margin-right: 0;
}

.teaser__header:hover {
    background: var(--color-light-grey);
}

.teaser__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
    border-radius: 8px;
    transition: background 0.1s;
}

.teaser__image {
    border-radius: 8px;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin-right: 16px;
    flex-shrink: 0;
}

.teaser__data {
    display: block;
    font-size: 1.6rem;
    opacity: 0.4;
    margin-bottom: 0.4rem;
}

.teaser__title {
    margin: 0;
}

.teaser__body {
    margin-top: 1rem;
    line-height: 2.8rem;
}

/* === TEASER CARD === */

.teaser-card {
    border-radius: 8px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.teaser-card-wrapper:hover .teaser-card {
    transform: scale(0.97);
}

.teaser-card-wrapper:hover .teaser-card__image {
    transform: scale(1.1);
}

.teaser-card--medium {
    width: 300px;
    display: inline-block;
    white-space: initial;
    margin-right: 10px;
}

.teaser-card--big {
    width: 100%;
}

.teaser-card__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.teaser-card__gradient {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.5) 100%
    );
}

.teaser-card__data {
    position: absolute;
    left: 20px;
    top: 16px;
    color: white;
    opacity: 0.8;
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
}

.teaser-card__title {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 16px;
    line-height: 3rem;
    margin: 0;
    color: white;
}

/* === FOOTER === */

.footer {
    background: var(--color-light-grey);
    padding: 30px 0;
}

.footer__links {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

/* === ARTICLE === */

.hero {
    width: 100%;
    height: 150px;
}

.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-toolbar {
    display: flex;
    flex-direction: column;
    align-items: initial;
}

.article-toolbar__link {
    margin-top: 20px;
    margin-left: 0;
}

.info-box {
    padding: 2rem 2.4rem;
    display: inline-block;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
        0 3px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
        0 3px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.12);
}

/* === MEDIA QUERIES === */

@media screen and (min-width: 576px) {
    .container {
        max-width: 1150px;
    }
    .navbar__link {
        display: block;
    }
    .menu__wrapper {
        flex-direction: row;
    }
    .footer__links {
        flex-direction: row;
    }
    .article-toolbar {
        flex-direction: row;
        align-items: center;
    }
    .article-toolbar__link {
        margin-top: 0;
        margin-left: 30px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1150px;
    }
    .navbar__text {
        display: block;
    }
    .carousel {
        display: flex;
        justify-content: space-between;
    }
    .teaser-card-wrapper {
        width: 32%;
    }
    .teaser-card--medium {
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .feed {
        flex-direction: row;
    }
    .teaser {
        width: calc(50% - 30px);
        margin-right: 30px;
    }
    h1 {
        font-size: 4rem;
        line-height: 4.6rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .navbar__search-bar {
        display: block;
    }
    .navbar__search-icon {
        position: absolute;
    }
    .hero {
        height: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}
