* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === GLOBAL === */

html {
    font-size: 62.5%;
}

body {
    font-family: "Hind", sans-serif;
    font-size: 2rem;
}

.container {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 5rem;
    font-weight: bold;
}

.teaser-card {
    border-radius: 8px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.teaser-card--big {
    width: 100%;
}

.teaser-card--big__image {
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.teaser-card__gradient {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}

.teaser-card__title {
    position: absolute;
    left: 20px;
    bottom: 16px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    color: white;
}

/* === MEDIA QUERIES === */

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}
